{% extends "base.html" %}

{% block content %}
<br/>
<h1>History</h1>
<br/>
{% if history %}

{% for conversation in page_obj %}
<h4>{{ conversation.question }}</h4>
<p>{{ conversation.answer }}</p>
<a href="{% url 'delete_history' conversation.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
<br/>
<br/>
{% endfor %}

{% endif %}

<hr><br/><br/>

<nav aria-label="...">
  <ul class="pagination">
      <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
    {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
    {% endif %}

    {% for i in nums %}
      <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}">
        <a class="page-link" 
           href="?page={{ forloop.counter }}"
           {% if page_obj.number == forloop.counter %}aria-current="page"{% endif %}
        >
          {{ forloop.counter }}
        </a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
      <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" >&raquo; </a></li>
    {% endif %}
  </ul>
</nav>

<br/><br/>

{% endblock content %}