{% extends "base.html" %}

{% block content %}
{% if question %}
  <div>
    </br>
    <h3>Question: {{ question }}</h3>
    </br>
  </div>
{% endif %}


<div class="card">
  <h5 class="card-header">LinaAI Response</h5>
  <div class="card-body">
    {% if response %}
    {{ response }}
    {% endif %}
    </br>
    </br>
    </br>
  </div>
</div>

</br>
</br>
</br>

<form method='POST' action={% url "home" %}>
  {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" placeholder='Ask LinaAI A Question...' name='question'>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
  {% endblock content %}